[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
pip = "*"
django-extensions = "*"
whitenoise = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.8"
