html{
    background-color: rgb(21,32,43);
    padding:0;
    margin: 0;
}

body{
    margin-top:5%;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-content: center;
}

li {
    color: lightgray;
}

h1 {
    color: hotpink;    
}

h2 {
    color: purple;
}

h3 {
    color: whitesmoke;
}
