html{
    background-color: rgb(21,32,43);
    padding:0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-items: center;
    align-content: center;
}

body{
    grid-template-rows: auto 1fr auto;
    margin-top:1,5%;
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / auto 1fr auto;
}
h1 {
    color: hotpink;    
}
h2 {
    color: purple;
}
h3 {
    color: whitesmoke;
}

/* .container {
    display: flex;
    flex-direction: column;
} */

header {
    padding: 2rem;
    grid-column: 1/4;
}

.left-sidebar {
    grid-column: 1/2;
}

/* main{
    display: grid;
    grid-column: 2/3;
    grid-template-rows: minmax(10px, 10%) auto;
    float: left;
} */

.right-sidebar{
    grid-column: 3/4;
}

footer {
    padding: 2rem;
    grid-column: 1/4;
}

.left-sidebar,
.right-sidebar{
    padding: 1rem;
}
