{% extends 'base.html' %}

{% block title %} Clients {% endblock%}
{% block header %}
<header>
        <div class='nav'>
            <ul>
                <li class="home"><a href="{% url 'home' %}">Home</a></li>
                <li class="clients"><a href ="{% url 'clients' %}">Clients</a></li>
                <li class="about"><a href ="{% url 'about' %}">About</a></li>
            </ul>
        </div>
</header>
{% endblock %}

{% block content %}

{{ client_var.name }}
{{ client_var.age }}
{{ client_var.date_created }}

{{ counter_var.count }}

{% endblock  %}
