{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block header %}
<header>
        <div class='nav'>
        <ul>
        <li class="home"><a class="active" href="{% url 'home' %}">Home</a></li>
        <li class="clients"><a href ="{% url 'clients' %}">Clients</a></li>
        <li class="about"><a href ="{% url 'about' %}">About</a></li>
        </ul>
        </div>
</header>
{% endblock %}

{% block content %}
<h4> 
Vivamus sit amet mollis tellus. Sed tortor ex, varius eu rhoncus ut, venenatis at ligula. Ut nunc urna, sollicitudin ut dictum id, tempor blandit lorem. Curabitur aliquam leo in dignissim elementum. Vestibulum tristique, neque quis pharetra tempus, leo lectus fringilla tortor, a porta felis dui quis enim. Proin aliquet accumsan lobortis. Morbi ut neque egestas, vehicula massa in, accumsan tellus. Nulla ac metus eros.
<br>
<br>
Duis tincidunt vel eros quis eleifend. Nam ac fermentum dui, non ultricies nisl. Vivamus malesuada mauris id augue gravida blandit. Pellentesque rhoncus urna vel imperdiet sagittis. Quisque laoreet turpis eu enim auctor, ac dignissim mauris sodales. Cras vehicula eu orci vel consectetur. Sed auctor mauris sapien, id fringilla neque malesuada a. Proin efficitur felis id diam imperdiet auctor. Morbi vitae dignissim ipsum, quis tincidunt odio. Quisque nec quam id eros efficitur finibus. Maecenas sapien est, dignissim tristique vehicula ut, fringilla ac lorem.
<br>
<br>
Suspendisse luctus tristique felis, et feugiat sapien elementum at. Sed sapien turpis, auctor eu erat eu, vestibulum imperdiet eros. Morbi ut rutrum tellus. Nunc vitae mauris ultricies, vulputate diam non, pretium nisi. Sed massa erat, feugiat et nulla at, euismod semper tortor. Morbi venenatis, tortor egestas consequat scelerisque, dui urna aliquet est, a viverra mauris est non velit. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus.
<br>
<br>
Duis blandit nibh purus, tempor aliquam neque sodales sit amet. Etiam elementum lectus in accumsan auctor. Nunc a rutrum leo. In a suscipit ligula, eget suscipit sapien. Vestibulum in eleifend erat. Nam sit amet faucibus sem. Curabitur ac eros varius, eleifend nisl ut, mollis libero. Nulla risus elit, hendrerit iaculis ligula nec, blandit scelerisque orci. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam euismod sed est in vestibulum. Sed eu magna eleifend, interdum urna at, porttitor nibh. Phasellus luctus ut nunc nec auctor. Cras ut ligula ut neque viverra sagittis vel a mi. Sed vitae metus euismod, aliquam turpis ut, dignissim nisi. Duis vel orci consectetur, congue mi aliquet, congue neque. In vehicula a ligula quis pharetra.
<br>
<br>
Praesent in ullamcorper arcu, a pretium velit. Nulla facilisis non massa ac tincidunt. Ut blandit, nibh at venenatis efficitur, tellus felis imperdiet leo, iaculis euismod massa urna sit amet elit. Ut nibh neque, euismod vel ante vel, ultrices aliquet arcu. Vestibulum non feugiat nisi, eget bibendum metus. Praesent pretium, felis sed blandit vulputate, augue orci laoreet dolor, ut ultrices mi dolor sed lacus. Maecenas dapibus erat a massa porttitor efficitur. Vestibulum euismod quam a risus pharetra posuere. Nam tincidunt erat in eros euismod iaculis. Maecenas pharetra ornare justo ut aliquet. Ut eget mollis magna. Proin non euismod quam. Etiam lorem quam, fermentum nec urna vel, feugiat varius erat.  </h4>

{% endblock  %}