html{
    background-color: rgb(21,32,43);
    padding:0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-items: center;
    align-content: center;
}

header {
    padding: 2rem;
    grid-column: 1/4;
}
main {
    grid-column: 2/3;
    background-color: blanchedalmond;
}
body{
    margin-top:1.5%;
    display: grid;
    height: 100vh;
    grid-column: 2/3;
    grid-template-rows: auto 1fr auto;
    grid-template: auto 1fr auto / auto 1fr auto;
}
h1 {
    color: hotpink;    
}
h2 {
    color: purple;
}
h3 {
    color: whitesmoke;
}


.left-sidebar {
    grid-column: 1/2;
}

.right-sidebar{
    align-items: center;
    grid-column: 3/4;
}

.left-sidebar,
.right-sidebar{
    padding: 1rem;
}

footer {
    background: wheat;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
  }
