html{
    background-color:rgba(21, 32, 43, 0.45);
    padding:0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-items: center;
    align-content: center;
}

header {
    padding: 2rem;
    grid-column: 1/4;
    background-color:rgba(21,32,43,0.56);

}
main {
    display: grid;
    grid-column: 2/3;
    background-color: whitesmoke;
}
body{
    display: grid;
    height: 140vh;
    grid-template: auto 1fr auto / auto 1fr auto;
}
h1 {
    color: hotpink;    
}
h2 {
    color: purple;
}
h3 {
    color: whitesmoke;
}

.left-sidebar {
    grid-column: 1/2;
    margin-top: 4rem;
}

.right-sidebar{
    margin-top: 17rem;
    grid-column: 3/4;
}

.footer,
.header,
.left-sidebar,
.right-sidebar{
    padding: 1rem;
}

footer {
    background-color:rgba(21,32,43,0.56);
    padding: 1rem;
    text-align: center;
    grid-column: 1 / 4;
  }

